/**
 * Main css file.
 */

 body {
     padding: 20px;
 }

 #form-settings {
     margin-top: 15px;
 }

 #run-message {
     display: none;
     margin-top: 50px;
 }

 .row-margin {
     margin-top: 20px;
 }

 .margin-between {
     margin-left: 20px;
     margin-right: 20px;
     font-size: 20px;
     color: grey;
 }

 .btn {
     width: 150px;
 }

 /**
  * Bouce animation used for the alert message.
  */
 .bounce {
    animation-duration: 2s;
    animation-iteration-count: 3;
    transform-origin: bottom;
    animation-name: bounce-7;
 }

 @keyframes bounce-7 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-30px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

